:root {
  --color-primary: #337AFF;
  --color-primary-dark: #1F4AFF;
  --color-primary-light: #4D8CFF;
  --color-secondary: #FFC700;
  --color-secondary-dark: #FFB000;
  --color-secondary-light: #FFD000;
  --color-tertiary: #228B22;
  --color-tertiary-dark: #32CD32;
  --color-tertiary-light: #90EE90;
  --danger-color: #FF0000;
  --text-color: #333333;
  --text-color-light: #666666;
  --text-color-lighter: #999999;
  --text-contrast: #FFFFFF;
  --paper-color: #FFFFFF;
  --paper-color-light: #F5F5F5;
  --paper-color-lighter: #EEEEEE;
  --radius-small: .5rem;
  --radius-medium: 1rem;
  --radius-large: 2rem;
  --radius-full: 50%;
}

/*
common reset css rules
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', 'Roboto', sans-serif;
  font-size: 1.6rem;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Inter', 'Roboto', sans-serif;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

input {
  border: none;
  outline: none;
}

textarea {
  border: none;
  outline: none;
}

/* animação para aparecer o menu da esquerda pra direita */
@keyframes menu-appear {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

/*Estilização dos menus nav e laterais*/
.nav-container {
  background-color: #337AFF;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  color: var(--text-contrast);
}

.nav-user-icon {
  background-color: #fff;
  display: flex;
  width: 2em;
  height: 2em;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: .25em;
  border-radius: var(--radius-full);
}

.nav-user-icon img {
  width: 100%;
  height: 100%;
}

.nav-register-link {
  color: var(--text-contrast);
  cursor: pointer;
}

.nav-register-link:hover {
  text-decoration: underline;
}

.nav-item,
.menu-item {
  display: flex;
  align-items: center;
  gap: .5em;
}

.nav-button {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--text-contrast);
  font-size: 1.6rem;
  cursor: pointer;
}

.nav-item-search {
  display: flex;
  align-items: center;
  gap: .5em;
}

.nav-item-search img {
  width: 1em;
  height: 1em;
}

.search-input {
  padding: .25em;
  border-radius: var(--radius-small);
  border: 1px solid var(--text-color-lighter);
  background-color: var(--text-contrast);
}

.search-input:is(:focus, :hover, :active) {
  outline: 2px solid var(--text-color);
}

.menu {
  background-color: var(--color-primary-light);
  width: 230px;
  height: 100%;
  margin-top: 4.7em;
  padding: 1em;
  gap: 1em;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  flex-direction: column;
  animation: menu-appear .5s ease-in-out;
}

.menu--closed {
  opacity: 0;
  display: none;
}

.menu--open {
  display: flex;
  opacity: 1;
}

.menu-container a {
  color: var(--text-contrast);
}
.menu-container a:hover{
  text-decoration: underline;
}

/* Conteúdo principal da página */






.announcement-item-container {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 1em;
  border-radius: var(--radius-small);
  background-color: var(--paper-color);
  box-shadow: 3px 3px 15px var(--text-color-lighter);
}

.announcement-item-status {
  padding: .25em;
  border-radius: var(--radius-small);
}

.status-announced {
  background-color: var(--color-tertiary-light);
  color: var(--text-color);
}

.status-selling {
  background-color: var(--color-primary-light);
  color: var(--paper-color-lighter);
}

.status-annalysing {
  background-color: var(--color-secondary-light);
}

.announcement-item-image {
  width: 300px;
  height: 300px;
  border-radius: var(--radius-small);
}

.announcement-item-description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-wrap: pretty;
}

.announcement-item-buttons-container {
  display: flex;
  gap: 1em;
}

.announcement-item-button {
  padding: .5em;
  border-radius: var(--radius-small);
  border: none;
  outline: none;
  font-size: 1.6rem;
  cursor: pointer;
}

.announcement-item-button:is(:hover, :active) {
  opacity: .8;
}

.remove-button {
  background-color: var(--danger-color);
  color: var(--text-contrast);
}

.edit-button {
  background-color: var(--color-primary-light);
  color: var(--text-contrast);
}

.dialog {
  flex-direction: column;
  align-items: center;
  gap: 1em;
  justify-content: center;
  background-color: var(--paper-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2em;
}

.dialog:is([open]) {
  display: flex;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, .5);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 1em;
}

/* Footer */
#footer {
  background-color: var(--color-primary);
  color: var(--text-contrast);
  padding-block: 2em;
}

.footer-payment-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin-inline: .5em;
}
.copyright{
  margin-top: 1em;
}
img[src="imagens/lupa.png"] {
 margin-top: -250px;
}
#listaImg {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2em;
   /* Ajuste conforme necessário */
  width: 400px;
}

.produto {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 5000px;
  height: 400px;
  margin-bottom: 2em;
  margin-right: 1500px;
}

.minhaImagem {
  width: 100px;
  height: 100px;
}

.meuLink {
  color: blue;
  text-decoration: none;
}

.meuPreco {
  color: green;
}

.minhaDescricao {
  font-size: 14px;
}
.alinhamento {
  display: flex;
  justify-content: space-between;
}
main {width: 1500px;
}

.produto {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 15px;
  width: 1000px;
  /* Adicione outros estilos conforme necessário */
}
